:root{
    --accent-color: #458FF6;
    --text-color:#7D7987;
    --title-color:#000;


}
/*Общие стили*/

body{
    font-family: 'Muli', sans-serif;
    background-color: white;
}

/*Декор элементы*/

.decor-sticky{
    position: absolute;
    top: 160px;
    left: -50px;
}
/*Перебиваем контейнер*/
.container{
    max-width: 1240px;
}

.button{
    cursor: pointer;
    border-radius: 55px;
    border: none;
    padding: 15px 35px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.button--solid{
    background-color: var(--accent-color);
    color: white;
}

.button--solid:hover{
    background-color: rgb(6, 106, 247);
}

/*Шапка*/
.header{
    padding: 50px 0;
}

.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
}
.active{
    font-weight: bold;
    color:black !important;
}

.menu__link{
color: var(--text-color);
text-decoration: none;
transition:all 0.3s ease-in-out;
font-size: 18px;
}

.menu__link:hover{
    text-decoration: none;
    color:black;
}

/**/


.header{
    position: relative;
}
.header__title{
    font-size: 48px;
    font-weight: bold;
}

.header__text{
    color:var(--text-color);
    font-size: 21px;
    line-height: 32px;
    
}

.header__picture{
    margin-top: 80px;
}